<a href="#" class="article-card">
  <div class="article-card__image-block">
    <img src="img/news-1.jpg" alt="news-1" class="article-card__image" />
  </div>
  <div class="article-card__content">
    <span class="article-card__date">27 ноября 2020</span>
    <h3 class="article-card__title">Kentatsu Kanami – функциональность по&nbsp;оптимальной стоимости</h3>
    <ul class="article-card__tags-list">
      <li class="article-card__tag-item">
        <a href="#" class="article-card__tag-link">Новость</a>
      </li>
      <li class="article-card__tag-item">
        <a href="#" class="article-card__tag-link">Новинка</a>
      </li>
    </ul>
  </div>
</a>
