<div class="pagination">
  <div class="pagination__container container">
    <button class="pagination__more-btn button-secondary">
      Показать ещё
    </button>
    <div class="pagination__pages">
      <button class="pagination__arrow-btn pagination__arrow-btn--prev" disabled>
        <svg><use xlink:href="img/sprite.svg#chevron"></use></svg>
      </button>
      <button class="pagination__number-btn active">1</button>
      <span class="pagination__divider">из</span>
      <button class="pagination__number-btn">2</button>
      <button class="pagination__arrow-btn pagination__arrow-btn--next">
        <svg><use xlink:href="img/sprite.svg#chevron"></use></svg>
      </button>
    </div>
  </div>
</div>
