@import '../../scss/global/variables.scss';
@import '../../scss/global/mixins.scss';

.pagination {
  &__more-btn {
    width: 100%;
    font-weight: 600;

    & + .pagination__pages {
      margin-top: 24px;

      @include mobile {
        margin-top: vmin(24);
      }
    }
  }

  &__pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow-btn,
  &__number-btn {
    @include b1;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    svg {
      width: 24px;
      height: 24px;
    }

    @include mobile {
      width: vmin(48);
      height: vmin(48);
      border-radius: vmin(5);
      font-size: vmin(12);

      svg {
        width: vmin(24);
        height: vmin(24);
      }
    }
  }

  &__divider {
    @include b1;
    color: $grey400;
    margin: 0 16px;

    @include mobile {
      font-size: vmin(12);
      margin: 0 vmin(16);
    }
  }

  &__arrow-btn {
    color: $grey400;
    transition: color 0.2s;

    &--prev {
      margin-right: 24px;

      @include mobile {
        margin-right: vmin(24);
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      margin-left: 24px;

      @include mobile {
        margin-left: vmin(24);
      }
    }

    @include hover {
      &:not(:disabled) {
        color: $main-text;
        cursor: pointer;
      }
    }

    &:disabled {
      color: $grey300;
    }
  }

  &__number-btn {
    width: auto;
    padding: 8px;
    color: $main-text;

    &.active {
      background-color: $grey200;
      min-width: 48px;

      @include mobile {
        min-width: vmin(48);
      }
    }

    @include hover {
      &:not(:disabled) {
        cursor: pointer;
      }
    }
  }
}
