<div class="ymap-block">
  <div class="ymap" id="ymap"></div>

  <div class="ymap__popup">
    <div class="ymap__popup-header">
      <div class="ymap__popup-title">ДАИЧИ в г. Москва</div>
      <button class="ymap__popup-close">
        <svg><use xlink:href="img/sprite.svg#close"></use></svg>
      </button>
    </div>
    <div class="ymap__popup-body">
      <ul class="ymap__popup-addresses">
        <li class="ymap__popup-address">
          <div class="ymap__popup-address-pin">
            <svg><use xlink:href="img/sprite.svg#pin"></use></svg>
          </div>
          <div class="ymap__popup-address-body">
            <span class="ymap__popup-text">
              г. Москва<br>
              Ленинградский пр-т, 39, стр. 80 (бизнеc-центр Skylight, башня В), эт. 17
            </span>
            <a href="#" class="ymap__popup-external-link">
              Подробнее
            <svg><use xlink:href="img/sprite.svg#chevron"></use></svg>
          </a>
          </div>
        </li>
        <li class="ymap__popup-address">
          <div class="ymap__popup-address-pin">
            <svg><use xlink:href="img/sprite.svg#pin"></use></svg>
          </div>
          <div class="ymap__popup-address-body">
            <span class="ymap__popup-text">
              г. Москва<br>
              Звенигородское ш. д 9/27, 123022
            </span>
            <a href="#" class="ymap__popup-external-link">
              Подробнее
              <svg><use xlink:href="img/sprite.svg#chevron"></use></svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="ymap__popup">
    <div class="ymap__popup-header">
      <button class="ymap__popup-back-link">
        <svg><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
        Назад
      </button>
      <button class="ymap__popup-close">
        <svg><use xlink:href="img/sprite.svg#close"></use></svg>
      </button>
    </div>
    <div class="ymap__popup-body">
      <div class="ymap__popup-logo">
        <img src="img/daichi-logo.svg" alt="Daichi">
        <span>ЦФО</span>
      </div>
      <p class="ymap__popup-cities">
        Тверь, Владимир, Ярославль, Тула, Брянск, Рыбинск, Рязань, Калуга
      </p>
      <p class="ymap__popup-text-item">
        <span class="ymap__popup-subtitle">Адрес</span>
        <span class="ymap__popup-text">
          г. Москва<br>
          Ленинградский пр-т, 39, стр.&nbsp;80&nbsp;(бизнеc-центр Skylight, башня&nbsp;В), эт.&nbsp;17
        </span>
      </p>
      <p class="ymap__popup-text-item">
        <span class="ymap__popup-subtitle">Телефон</span>
        <a href="tel:+74997373733" class="ymap__popup-text">
          +7 (495) 737-37-33
        </a>
      </p>
      <p class="ymap__popup-text-item">
        <span class="ymap__popup-subtitle">Email</span>
        <a href="mailto:info@daichi.ru" class="ymap__popup-text">
          info@daichi.ru
        </a>
      </p>
    </div>
  </div>
</div>
