.ps:hover > .ps__rail-y {
  opacity: 0.6;
}

.perfectScrollbar-init .ps .ps__rail-y,
#search-main .ps .ps__rail-y {
  opacity: 0.6;
}

.perfectScrollbar-init.ps .ps__rail-y {
  opacity: 0.6;
}

.header__menu-mobile.ps .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-y {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.ps--active-y > .ps__rail-y {
  background-color: #eee;
  width: 10px;
  border-radius: 4px;
}

.ps .ps__rail-y:hover,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  width: 15px;
  border-radius: 6px;
}
