<div class="tabs">
  <div class="tabs__container container">
    <div class="tabs__slider swiper">
      <ul class="tabs__list swiper-wrapper">
        <li class="tabs__item swiper-slide">
          <a class="tabs__link active">Новость</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Новинка</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Статья</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
        <li class="tabs__item swiper-slide">
          <a class="tabs__link">Мероприятие</a>
        </li>
      </ul>
    </div>
  </div>
</div>
