<div class="request-card">
  <picture>
    <source srcset="./img/request-service.webp">
    <img src="./img/request-service.jpg" alt="" class="request-card__image">
  </picture>
  <div class="request-card__content">
    <h2 class="request-card__title">
      Нужна сервисная поддержка?
    </h2>
    <p class="request-card__desc">
      Заполните форму обращения
    </p>
    <a href="#" class="request-card__link button">Заполнить форму</a>
  </div>
</div>
<div class="request-card">
  <picture>
    <source srcset="./img/request-repair.webp">
    <img src="./img/request-repair.jpg" alt="" class="request-card__image">
  </picture>
  <div class="request-card__content">
    <h2 class="request-card__title  request-card__title--light">
      Хотите заявить о&nbsp;неисправности?
    </h2>
    <p class="request-card__desc  request-card__desc--light">
      Заполните заявку прямо на&nbsp;портале
    </p>
    <a href="#" class="request-card__link button-white">Отправить заявку</a>
  </div>
</div>
<div class="request-card">
  <picture>
    <source srcset="./img/request-location.webp">
    <img src="./img/request-location.jpg" alt="" class="request-card__image">
  </picture>
  <div class="request-card__content">
    <h2 class="request-card__title">
      Ищете сервис<br> в&nbsp;своём регионе?
    </h2>
    <p class="request-card__desc">
      92&nbsp;сервисных центра в&nbsp;РФ
    </p>
    <a href="#" class="request-card__link button">Перейти</a>
  </div>
</div>