<nav class="nav-panel">
  <div class="nav-panel__slider swiper">
    <ul class="nav-panel__list swiper-wrapper">
      <li class="nav-panel__item swiper-slide">
        <a href="#" class="nav-panel__link">
          <div class="nav-panel__link-icon">
            <svg><use xlink:href="img/sprite.svg#education"></use></svg>
          </div>
          <span class="nav-panel__link-text">
            Оптовый магазин
          </span>
        </a>
      </li>
      <li class="nav-panel__item swiper-slide">
        <a href="#" class="nav-panel__link">
          <div class="nav-panel__link-icon">
            <svg><use xlink:href="img/sprite.svg#education"></use></svg>
          </div>
          <span class="nav-panel__link-text">
            Рекламные материалы
          </span>
        </a>
      </li>
      <li class="nav-panel__item swiper-slide">
        <a href="#" class="nav-panel__link">
          <div class="nav-panel__link-icon">
            <svg><use xlink:href="img/sprite.svg#education"></use></svg>
          </div>
          <span class="nav-panel__link-text">
            Прайс&#8209;листы
          </span>
        </a>
      </li>
      <li class="nav-panel__item swiper-slide">
        <a href="#" class="nav-panel__link">
          <div class="nav-panel__link-icon">
            <svg><use xlink:href="img/sprite.svg#education"></use></svg>
          </div>
          <span class="nav-panel__link-text">
            Учебный центр
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="nav-panel__mobile">
    <div class="nav-panel__mobile-wrapper">
      <div class="nav-panel__slider-mobile swiper">
        <ul class="nav-panel__list swiper-wrapper">
          <li class="nav-panel__item swiper-slide" data-nav-link="block1">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Оптовый магазин
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide" data-nav-link="block2">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Рекламные материалы
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide" data-nav-link="block3">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Прайс&#8209;листы
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide" data-nav-link="block4">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Учебный центр
              </span>
            </a>
          </li>
          <!-- <li class="nav-panel__item swiper-slide">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Учебный центр
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Учебный центр
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Учебный центр
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Учебный центр
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Учебный центр
              </span>
            </a>
          </li>
          <li class="nav-panel__item swiper-slide">
            <a href="#" class="nav-panel__link">
              <div class="nav-panel__link-icon">
                <svg><use xlink:href="img/sprite.svg#education"></use></svg>
              </div>
              <span class="nav-panel__link-text">
                Учебный центр
              </span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
