<nav class="nav-panel is--advanced">
  <div class="nav-panel__container container">
    <div class="nav-panel__slider swiper">
      <ul class="nav-panel__list swiper-wrapper">
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/midea-logo.svg" alt="Midea">
            </div>
            <span class="nav-panel__link-text">
              Midea
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/daikin-logo.svg" alt="daikin">
            </div>
            <span class="nav-panel__link-text">
              Daikin
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/kentatsu-logo.svg" alt="kentatsu">
            </div>
            <span class="nav-panel__link-text">
              Kentatsu
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/bosch-logo.svg" alt="bosch">
            </div>
            <span class="nav-panel__link-text">
              Bosch
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/axioma-logo.svg" alt="axioma">
            </div>
            <span class="nav-panel__link-text">
              Axioma
            </span>
          </a>
        </li>
        <!-- <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/d-logo.svg" alt="daichi">
            </div>
            <span class="nav-panel__link-text">
              Daichi
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/airwave-logo.svg" alt="airwave">
            </div>
            <span class="nav-panel__link-text">
              Airwave
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/ecoletta-logo.svg" alt="ecoletta">
            </div>
            <span class="nav-panel__link-text">
              Ecoletta
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/primera-logo.svg" alt="primera">
            </div>
            <span class="nav-panel__link-text">
              Primera
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/aurum-logo.svg" alt="aurum">
            </div>
            <span class="nav-panel__link-text">
              Aurum
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/aurum-logo.svg" alt="aurum">
            </div>
            <span class="nav-panel__link-text">
              Aurum
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/aurum-logo.svg" alt="aurum">
            </div>
            <span class="nav-panel__link-text">
              Aurum
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/aurum-logo.svg" alt="aurum">
            </div>
            <span class="nav-panel__link-text">
              Aurum
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/aurum-logo.svg" alt="aurum">
            </div>
            <span class="nav-panel__link-text">
              Aurum
            </span>
          </a>
        </li>
        <li class="nav-panel__item swiper-slide">
          <a href="#" class="nav-panel__link">
            <div class="nav-panel__link-icon">
              <img src="img/aurum-logo.svg" alt="aurum">
            </div>
            <span class="nav-panel__link-text">
              Aurum
            </span>
          </a>
        </li> -->
      </ul>
    </div>

    <div class="nav-panel__mobile">
      <div class="nav-panel__mobile-wrapper">
        <div class="nav-panel__slider-mobile swiper">
          <ul class="nav-panel__list  swiper-wrapper">
            <li class="nav-panel__item swiper-slide" data-nav-link="midea">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/midea-logo-grey.svg" alt="Midea">
                  <img src="img/midea-logo.svg" alt="Midea">
                </div>
                <span class="nav-panel__link-text">
                  Midea
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide" data-nav-link="daikin">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/daikin-logo-grey.svg" alt="daikin">
                  <img src="img/daikin-logo.svg" alt="daikin">
                </div>
                <span class="nav-panel__link-text">
                  Daikin
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide" data-nav-link="kentatsu">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/kentatsu-logo-grey.svg" alt="kentatsu">
                  <img src="img/kentatsu-logo.svg" alt="kentatsu">
                </div>
                <span class="nav-panel__link-text">
                  Kentatsu
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/bosch-logo-grey.svg" alt="bosch">
                  <img src="img/bosch-logo.svg" alt="bosch">
                </div>
                <span class="nav-panel__link-text">
                  Bosch
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/axioma-logo-grey.svg" alt="axioma">
                  <img src="img/axioma-logo.svg" alt="axioma">
                </div>
                <span class="nav-panel__link-text">
                  Axioma
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/d-logo-grey.svg" alt="daichi">
                  <img src="img/d-logo.svg" alt="daichi">
                </div>
                <span class="nav-panel__link-text">
                  Daichi
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/airwave-logo-grey.svg" alt="airwave">
                  <img src="img/airwave-logo.svg" alt="airwave">
                </div>
                <span class="nav-panel__link-text">
                  Airwave
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/ecoletta-logo-grey.svg" alt="ecoletta">
                  <img src="img/ecoletta-logo.svg" alt="ecoletta">
                </div>
                <span class="nav-panel__link-text">
                  Ecoletta
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/primera-logo-grey.svg" alt="primera">
                  <img src="img/primera-logo.svg" alt="primera">
                </div>
                <span class="nav-panel__link-text">
                  Primera
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide" data-nav-link="aurum">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
            <li class="nav-panel__item swiper-slide">
              <a href="#" class="nav-panel__link">
                <div class="nav-panel__link-icon">
                  <img src="img/aurum-logo-grey.svg" alt="aurum">
                  <img src="img/aurum-logo.svg" alt="aurum">
                </div>
                <span class="nav-panel__link-text">
                  Aurum
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
