<div class="benefits">
  <div class="benefits__container">
    <h2 class="benefits__title">
      Преимущества работы с&nbsp;нами
    </h2>
    <p class="benefits__desc">
      РLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar.
      Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem.
    </p>
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="benefits__item-icon">
          <svg><use xlink:href="img/sprite.svg#store"></use></svg>
        </div>
        <span class="benefits__item-title">
          Сеть региональных складов
        </span>
        <span class="benefits__item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar. Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem. Phasellus quis magna risus.
        </span>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-icon">
          <svg><use xlink:href="img/sprite.svg#star"></use></svg>
        </div>
        <span class="benefits__item-title">
          Только проверенные бренды
        </span>
        <span class="benefits__item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar. Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem. Phasellus quis magna risus.
        </span>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-icon">
          <svg><use xlink:href="img/sprite.svg#gears"></use></svg>
        </div>
        <span class="benefits__item-title">
          Полная техническая поддержка на всех этапах
        </span>
        <span class="benefits__item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar. Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem. Phasellus quis magna risus.
        </span>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-icon">
          <svg><use xlink:href="img/sprite.svg#reward"></use></svg>
        </div>
        <span class="benefits__item-title">
          Надёжный дистрибьютор
        </span>
        <span class="benefits__item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar. Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem. Phasellus quis magna risus.
        </span>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-icon">
          <svg><use xlink:href="img/sprite.svg#shield"></use></svg>
        </div>
        <span class="benefits__item-title">
          Выполняем гарантийные обязательства
        </span>
        <span class="benefits__item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar. Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem. Phasellus quis magna risus.
        </span>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-icon">
          <svg><use xlink:href="img/sprite.svg#education"></use></svg>
        </div>
        <span class="benefits__item-title">
          Проводим обучение
        </span>
        <span class="benefits__item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar. Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem. Phasellus quis magna risus.
        </span>
      </li>
      <li class="benefits__item">
        <div class="benefits__item-icon">
          <svg><use xlink:href="img/sprite.svg#education"></use></svg>
        </div>
        <span class="benefits__item-title">
          Проводим обучение
        </span>
        <span class="benefits__item-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa non tellus porta pulvinar. Sed gravida ligula sit amet aliquam finibus. Vivamus elit lectus, ultrices id rutrum eu, luctus ac sem. Phasellus quis magna risus.
        </span>
      </li>
    </ul>
  </div>
</div>
