<div class="container">
  <div class="chip">
    <span class="chip__icon">
      <svg>
        <use xlink:href="img/sprite.svg#search"></use>
      </svg>
    </span>
    <span class="chip__text">Облачный кондиционер</span>
  </div>
  <br><br>
  <a href="#" class="chip">
    <span class="chip__icon">
      <svg>
        <use xlink:href="img/sprite.svg#search"></use>
      </svg>
    </span>
    <span class="chip__text">Облачный кондиционер</span>
  </a>
  <br><br>
  <a href="#" class="chip">
    <span class="chip__text">Облачный кондиционер</span>
  </a>
</div>