<a href="#function-modal" class="function-card" data-fancybox>
  <img src="img/kentatsu-not-disturb.svg" alt="" class="function-card__icon">
  <p class="function-card__text">
    Инверторная технология
  </p>
  <svg class="function-card__info">
    <use xlink:href="img/sprite.svg#info"></use>
  </svg>
  <p class="function-card__full-desc" style="display: none;">
    Сохранит работоспособность кондиционера при колебаниях напряжения сети от&nbsp;160 до&nbsp;250&nbsp;В, что
    значительно превышает стандартные требования к&nbsp;электромеханическим приборам. В&nbsp;кондиционер изначально
    встроен стабилизатор напряжения, он&nbsp;не&nbsp;только сбережёт ваши средства, но&nbsp;и&nbsp;окажется практически
    незаменим в&nbsp;сельской местности, в&nbsp;многоквартирных домах, в&nbsp;промышленных районах крупных городов.
  </p>
</a>

<a href="#function-modal" class="function-card" data-fancybox>
  <img src="img/kentatsu-auto-mode.svg" alt="" class="function-card__icon">
  <p class="function-card__text">
    Автоматический выбор режима
  </p>
  <svg class="function-card__info">
    <use xlink:href="img/sprite.svg#info"></use>
  </svg>
  <p class="function-card__full-desc" style="display: none;">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime maiores magnam aliquid nobis, sunt esse rem,
    cupiditate nulla sint laboriosam qui quod, totam numquam fugiat quasi non. Iusto, amet.
  </p>
</a>

<div style="display: none;">
  <div class="modal modal--function-card form" id="function-modal">
    <div class="h5 modal__title">
      <button class="modal__title-close-button mobile-only" type="button" data-fancybox-close>
        <svg>
          <use xlink:href="./img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <span></span>
    </div>
    <div class="modal__body">
      <div class="modal__function-icon">
        <img src="" alt="">
      </div>
      <p class="modal__desc">
      </p>
    </div>
  </div>
</div>