<h3>Кнопка ".button"</h3>
<button class="button" id="button-main">Button</button>
<br />
<button class="button" id="button-main">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button" disabled>Button</button>

<h3>Кнопка ".button.button--small"</h3>
<br />
<button class="button button--small">Button</button>
<br />
<button class="button button--small" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-secondary"</h3>
<button class="button-secondary" id="button-secondary">Button</button>
<br />
<button class="button-secondary" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-border"</h3>
<button class="button-border" id="button-border">Button</button>
<br />
<button class="button-border" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-white"</h3>
<button class="button-white" id="button-white">Button</button>
<br />
<button class="button-white" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-third"</h3>
<button class="button-third" id="button-third">Button</button>
<br />
<button class="button-third" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-forth"</h3>
<button class="button-fourth" id="button-fourth">Button</button>
<br />
<button class="button-fourth" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-gradient-1"</h3>
<button class="button-gradient-1" id="button-main">Button</button>
<br />
<button class="button-gradient-1" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-gradient-2"</h3>
<button class="button-gradient-2" id="button-main">Button</button>
<br />
<button class="button-gradient-2" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-gradient-3"</h3>
<button class="button-gradient-3" id="button-main">Button</button>
<br />
<button class="button-gradient-3" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-gradient-4"</h3>
<button class="button-gradient-4" id="button-main">Button</button>
<br />
<button class="button-gradient-4" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-gradient-5"</h3>
<button class="button-gradient-5" id="button-main">Button</button>
<br />
<button class="button-gradient-5" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-gradient-6"</h3>
<button class="button-gradient-6" id="button-main">Button</button>
<br />
<button class="button-gradient-6" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-gradient-7"</h3>
<button class="button-gradient-7" id="button-main">Button</button>
<br />
<button class="button-gradient-7" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-arrow"</h3>
<button class="button-arrow">
  Button
  <svg>
    <use xlink:href="./img/sprite.svg#chevron-right"></use>
  </svg>
</button>
<br />
<button class="button-arrow" disabled>
  Button
  <svg>
    <use xlink:href="./img/sprite.svg#chevron-right"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-midea"</h3>
<button class="button-midea" id="button-midea">Button</button>
<br />
<button class="button-midea" disabled>Button</button>

<br />
<br />

<h3>Кнопка ".button-midea-secondary"</h3>
<button class="button-midea-secondary" id="button-midea-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-midea-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-daikin"</h3>
<button class="button-daikin" id="button-daikin">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-daikin" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-daikin-secondary"</h3>
<button class="button-daikin-secondary" id="button-daikin-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-daikin-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-kentatsu"</h3>
<button class="button-kentatsu" id="button-kentatsu">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-kentatsu" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-kentatsu-secondary"</h3>
<button class="button-kentatsu-secondary" id="button-kentatsu-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-kentatsu-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-bosch"</h3>
<button class="button-bosch" id="button-bosch">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-bosch" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-bosch-secondary"</h3>
<button class="button-bosch-secondary" id="button-bosch-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-bosch-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-axioma"</h3>
<button class="button-axioma" id="button-axioma">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-axioma" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-axioma-secondary"</h3>
<button class="button-axioma-secondary" id="button-axioma-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-axioma-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-airwave"</h3>
<button class="button-airwave" id="button-airwave">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-airwave" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-airwave-secondary"</h3>
<button class="button-airwave-secondary" id="button-airwave-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-airwave-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-ecoletta"</h3>
<button class="button-ecoletta" id="button-ecoletta">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-ecoletta" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-ecoletta-secondary"</h3>
<button class="button-ecoletta-secondary" id="button-ecoletta-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-ecoletta-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-primera"</h3>
<button class="button-primera" id="button-primera">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-primera" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-primera-secondary"</h3>
<button class="button-primera-secondary" id="button-primera-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-primera-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-aurum"</h3>
<button class="button-aurum" id="button-aurum">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-aurum" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>

<br />
<br />

<h3>Кнопка ".button-aurum-secondary"</h3>
<button class="button-aurum-secondary" id="button-aurum-secondary">
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>
<br />
<button class="button-aurum-secondary" disabled>
  Button
  <svg>
    <use xlink:href="img/sprite.svg#external-link"></use>
  </svg>
</button>