<h2 style="background: #eee">.info-block</h2>
<div class="info-block">
  <div class="info-block__content">
    <div class="info-block__image-block">
      <picture>
        <source srcset="img/for-partners-companies.webp">
        <img src="img/for-partners-companies.jpg" alt="Корпоративным клиентам">
      </picture>
    </div>
    <div class="info-block__text-block">
      <span class="info-block__title h5">Климатическим компаниям</span>
      <p class="info-block__desc">
        Всем нашим партнёрам мы&nbsp;предлагаем всестороннюю поддержку одного из&nbsp;ведущих дистрибьюторов климатического оборудования в&nbsp;России и&nbsp;странах СНГ: качественное оборудование от&nbsp;ведущих мировых производителей, развитая сеть региональных складов и&nbsp;представительств, программа защиты объектов, полная техническая и&nbsp;маркетинговая поддержка, гибкая коммерческая политика и&nbsp;выгодные условия сотрудничества.
      </p>
      <ul class="info-block__benefits">
        <li class="info-block__benefit">
          <span class="info-block__benefit-icon">
            <svg><use xlink:href="img/sprite.svg#guard"></use></svg>
          </span>
          <span class="info-block__benefit-text">Защищаем интересы партнеров на объектах</span>
        </li>
        <li class="info-block__benefit">
          <span class="info-block__benefit-icon">
            <svg><use xlink:href="img/sprite.svg#gears"></use></svg>
          </span>
          <span class="info-block__benefit-text">Оказываем полную техническую поддержку</span>
        </li>
      </ul>
      <a href="/about" class="info-block__link button">Подробнее</a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--left-text</h2>

<div class="info-block is--left-text">
  <div class="info-block__content">
    <div class="info-block__image-block">
      <picture>
        <source srcset="img/for-partners-engeeniers.webp">
        <img src="img/for-partners-engeeniers.jpg" alt="Проектировщикам и инженерам">
      </picture>
    </div>
    <div class="info-block__text-block">
      <span class="info-block__title h5">Проектировщикам и инженерам</span>
      <p class="info-block__desc">
        В&nbsp;нашей компании действует специализированный отдел по&nbsp;работе с&nbsp;проектными организациями. Проектным институтам и&nbsp;проектировщикам мы&nbsp;предлагаем всестороннюю поддержку и&nbsp;специальные условия работы
      </p>
      <ul class="info-block__benefits">
        <li class="info-block__benefit">
          <span class="info-block__benefit-icon">
            <svg><use xlink:href="img/sprite.svg#education"></use></svg>
          </span>
          <span class="info-block__benefit-text">Обучение (вебинары и&nbsp;семинары в&nbsp;Москве и&nbsp;регионах)</span>
        </li>
        <li class="info-block__benefit">
          <span class="info-block__benefit-icon">
            <svg><use xlink:href="img/sprite.svg#support"></use></svg>
          </span>
          <span class="info-block__benefit-text">Консультации по&nbsp;подбору проектного решения, подбору оборудования и&nbsp;другим вопросам</span>
        </li>
        <li class="info-block__benefit">
          <span class="info-block__benefit-icon">
            <svg><use xlink:href="img/sprite.svg#like"></use></svg>
          </span>
          <span class="info-block__benefit-text">Программа лояльности для проектировщиков (бонусы и&nbsp;поездки к&nbsp;производителю)</span>
        </li>
        <li class="info-block__benefit">
          <span class="info-block__benefit-icon">
            <svg><use xlink:href="img/sprite.svg#alarm-clock"></use></svg>
          </span>
          <span class="info-block__benefit-text">Оперативное выставление&nbsp;КП и&nbsp;подбора</span>
        </li>
      </ul>
      <a href="/about" class="info-block__link button">Подробнее</a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--left-text.is--main</h2>

<div class="info-block is--left-text is--main">
  <div class="info-block__content">
    <div class="info-block__image-block">
      <picture>
        <source srcset="img/for-partners-daichi-warranty.webp">
        <img src="img/for-partners-daichi-warranty.jpg" alt="Проектировщикам и инженерам">
      </picture>
    </div>
    <div class="info-block__text-block">
      <span class="info-block__title h5">«ДАИЧИ» гарантирует</span>
      <ul class="info-block__main-benefits">
        <li class="info-block__main-benefit">
          <span class="info-block__main-benefit-num">01</span>
          <span class="info-block__main-benefit-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
          <span class="info-block__main-benefit-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
        </li>
        <li class="info-block__main-benefit">
          <span class="info-block__main-benefit-num">02</span>
          <span class="info-block__main-benefit-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
          <span class="info-block__main-benefit-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
        </li>
        <li class="info-block__main-benefit">
          <span class="info-block__main-benefit-num">03</span>
          <span class="info-block__main-benefit-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
          <span class="info-block__main-benefit-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
        </li>
      </ul>
      <a href="/about" class="info-block__link button-gradient-1">Стать партнёром</a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--left-text.is--light</h2>

<div class="info-block is--left-text is--light">
  <div class="info-block__content">
    <div class="info-block__image-block">
      <picture>
        <source srcset="img/for-partners-marketing.webp">
        <img src="img/for-partners-marketing.jpg" alt="Маркетинговая поддержка">
      </picture>
    </div>
    <div class="info-block__text-block">
      <span class="info-block__title h5">Маркетинговая поддержка</span>
      <ul class="info-block__benefits-dots">
        <li class="info-block__benefit-dot">
          Компенсируем затраты на рекламу
        </li>
        <li class="info-block__benefit-dot">
          Предоставляем информацию для интернет-магазинов по&nbsp;API
        </li>
        <li class="info-block__benefit-dot">
          Помогаем спланировать и&nbsp;запустить рекламную кампанию
        </li>
        <li class="info-block__benefit-dot">
          Предоставляем материалы для интернета, для наружной рекламы и&nbsp;т.д
        </li>
      </ul>
      <a href="/about" class="info-block__link button">Подробнее</a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--light</h2>

<div class="info-block is--light">
  <div class="info-block__content">
    <div class="info-block__image-block">
      <picture>
        <source srcset="img/for-partners-marketing.webp">
        <img src="img/for-partners-marketing.jpg" alt="Маркетинговая поддержка">
      </picture>
    </div>
    <div class="info-block__text-block">
      <span class="info-block__title h5">Маркетинговая поддержка</span>
      <ul class="info-block__benefits-dots">
        <li class="info-block__benefit-dot">
          Компенсируем затраты на рекламу
        </li>
        <li class="info-block__benefit-dot">
          Предоставляем информацию для интернет-магазинов по&nbsp;API
        </li>
        <li class="info-block__benefit-dot">
          Помогаем спланировать и&nbsp;запустить рекламную кампанию
        </li>
        <li class="info-block__benefit-dot">
          Предоставляем материалы для интернета, для наружной рекламы и&nbsp;т.д
        </li>
      </ul>
      <a href="/about" class="info-block__link button">Подробнее</a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--dark</h2>

<div class="info-block is--dark">
  <div class="info-block__content">
    <div class="info-block__image-block">
      <picture>
        <source srcset="img/for-partners-service.webp">
        <img src="img/for-partners-service.jpg" alt="Сервисная поддержка">
      </picture>
    </div>
    <div class="info-block__text-block">
      <span class="info-block__title h5">Сервисная поддержка</span>
      <ul class="info-block__benefits-dots">
        <li class="info-block__benefit-dot">
          Оказываем гарантийный и&nbsp;постгарантийный ремонт
        </li>
        <li class="info-block__benefit-dot">
          Поставляем комплектующие прямо с&nbsp;заводов производителей
        </li>
        <li class="info-block__benefit-dot">
          Поддерживаем с&nbsp;помощью крупной сети авторизованных сервисных центров
        </li>
      </ul>
      <a href="/about" class="info-block__link button">
        Перейти
        <svg><use xlink:href="img/sprite.svg#external-link"></use></svg>
      </a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--dark</h2>

<div class="info-block is--dark">
  <div class="info-block__content">
    <div class="info-block__image-block">
      <picture>
        <source srcset="img/for-partners-education.webp">
        <img src="img/for-partners-education.jpg" alt="Учебный центр">
      </picture>
    </div>
    <div class="info-block__text-block">
      <span class="info-block__title h5">Учебный центр</span>
      <p class="info-block__desc">
        Повышаем квалификацию по&nbsp;уникальным обучающим программам, разработанным с&nbsp;учётом фундаментальных основ проектирования, монтажа и&nbsp;эксплуатации климатического оборудования, а&nbsp;также клиентоориентированности с&nbsp;учётом реальной специфики бизнеса.
      </p>
      <ul class="info-block__benefits-check">
        <li class="info-block__benefit-check">
          <span>Онлайн-вебинары</span>
        </li>
        <li class="info-block__benefit-check">
          <span>Офлайн-семинары</span>
        </li>
        <li class="info-block__benefit-check">
          <span>Мастер-классы</span>
        </li>
        <li class="info-block__benefit-check">
          <span>Сертификация</span>
        </li>
        <li class="info-block__benefit-check">
          <span>Анонсы оборудования</span>
        </li>
        <li class="info-block__benefit-check">
          <span>Проверенные спикеры</span>
        </li>
      </ul>
      <a href="/about" class="info-block__link button">
        Перейти
        <svg><use xlink:href="img/sprite.svg#external-link"></use></svg>
      </a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--left-text.is--main</h2>

<div class="info-block is--left-text is--main">
  <div class="info-block__content">
    <div class="info-block__image-block is--high">
      <picture>
        <source srcset="img/online-market.webp">
        <img src="img/online-market.jpg" alt="Оптовый интернет-магазин">
      </picture>
    </div>
    <div class="info-block__text-block is--width">
      <span class="info-block__title h5">Оптовый интернет&#8209;магазин</span>
      <ul class="info-block__main-benefits-2">
        <li class="info-block__main-benefit">
          <span class="info-block__main-benefit-num">01</span>
          <span class="info-block__main-benefit-title">
            Актуальная информация
          </span>
          <span class="info-block__main-benefit-desc">
            Информация о&nbsp;товарах и&nbsp;заказах обновляется каждые 5&nbsp;минут.
          </span>
        </li>
        <li class="info-block__main-benefit">
          <span class="info-block__main-benefit-num">02</span>
          <span class="info-block__main-benefit-title">
            Заказы в&nbsp;любое время
          </span>
          <span class="info-block__main-benefit-desc">
            Сервис доступен 24&nbsp;/ 7
          </span>
        </li>
        <li class="info-block__main-benefit">
          <span class="info-block__main-benefit-num">03</span>
          <span class="info-block__main-benefit-title">
            Экономия времени
          </span>
          <span class="info-block__main-benefit-desc">
            Сокращаем ваше время на&nbsp;оформление заказа. Заказ менее чем за&nbsp;1&nbsp;минуту.
          </span>
        </li>
        <li class="info-block__main-benefit">
          <span class="info-block__main-benefit-num">04</span>
          <span class="info-block__main-benefit-title">
            Эффективная работа
          </span>
          <span class="info-block__main-benefit-desc">
            Автоматическое выставление счётов.<br>
            Резервирование товаров на&nbsp;срок действия счета.
          </span>
        </li>
      </ul>
      <a href="/about" class="info-block__link button-fourth">
        Войти на&nbsp;портал
        <svg><use xlink:href="img/sprite.svg#external-link"></use></svg>
      </a>
    </div>
  </div>
</div>

<h2 style="background: #eee">.info-block.is--left-text.is--main</h2>

<div class="info-block is--left-text is--main">
  <div class="info-block__content">
    <div class="info-block__image-block is--high">
      <picture>
        <source srcset="img/price-list.webp">
        <img src="img/price-list.jpg" alt="Прайс-листы на оборудование">
      </picture>
    </div>
    <div class="info-block__text-block is--width">
      <span class="info-block__title h5">Прайс-листы на&nbsp;оборудование</span>
      <p class="info-block__desc">
        Актуальные цены на&nbsp;климатическую технику всех производителей.<br>
        Наши менеджеры тщательно следят за&nbsp;актуальностью предоставляемой информации, чтобы у&nbsp;вас всегда были последние данные о&nbsp;стоимости нашей продукции.
      </p>
      <a href="/about" class="info-block__link button-fourth">
        Войти на&nbsp;портал
        <svg><use xlink:href="img/sprite.svg#external-link"></use></svg>
      </a>
    </div>
  </div>
</div>
